.ProfileCard {
  padding-block: 20px;
}

.ProfileCard-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  font-family: var(--second-font-family);
  line-height: 40px;
}

.ProfileCard-prop {
  margin-block: 12px;
  display: flex;
  justify-content: flex-start;
}

.ProfileCard-prop_size_big {
  font-size: 24px;
}

.ProfileCard-label {
  padding-right: 5px;
  width: 90px;
}

.ProfileCard-value {
  font-weight: bold;
}
